.plugin-inputs.collapsible {
  overflow: visible;
}

.plugin-inputs.collapsible.collapsed {
  overflow: hidden;
}

.pk-name:hover .pk-name-segment {
  cursor: pointer;
  text-decoration: underline;
}

.pk-hidden {
  visibility: hidden;
  display: inline;
  position: absolute;
  width: 0px;
}

.pk-hidden * {
  display: inline-block;
  width: 0px;
}

div:has(.pk-cache-button) {
  justify-content: center;
}
